/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

/* common and utilites */
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  justify-content: center;
}
.container {
  width: 870px;
  background: #fff;
  padding: 30px;
}

/* top player section start  */
#section-title {
  color: #562eff;
  margin-top: 0px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
}
.player-name {
  margin-left: 15px;
}
@media (max-width: 992px);
